	<script>
	  $(document).ready(function() {
			$('select.my_methodology').select2();
	  });
	</script>

<div class="nested-fields">

	<div class="row">
	  <div class="col-sm-8">
		  <div class="form-group">
				<%#= f.object.inspect %>
    		<%= f.select :methodology_id, Methodology.all.map { |u| [u.methodology_name, u.id] }, { include_blank: 'Choose methodology...', class: "form-control"}, { class: "my_methodology" } %>
			</div>
		</div>
		<div class="col-sm-4">
			<%= link_to_remove_association "Remove", f, class: "btn btn-danger btn-xs pull-right" %>
		</div>
	</div>
</div>
