# Ignore bundler config.

.secret
.DS_Store
# Ignore bundler config.
/.bundle

*.sql
*.bak
*.dump
*.backup
*.zip
*.db
*.docx
*.dat

#/public/releases/
/public/assets/
/public/uploads/*
/db/*.sqlite3
/db/*.sqlite3-journal
/db/baad
/db/generic

/solr
/log/*.log
/tmp

local_env.yml

database.yml
*.swp
.project
.idea
.rvmrc
.ruby-*
notes_josh.md
documentation.md
postgres/
