<div class="nested-fields">

	<div class="row">
	  <div class="col-sm-5">
		  <div class="form-group precision">
		  	<%= f.text_field :synonym_name, placeholder: "Synonym...", class: "form-control" %>
			</div>
		</div>
		<div class="col-sm-5">
		  <div class="form-group precision">
		  	<%= f.text_field :synonym_description, placeholder: "Notes...", class: "form-control" %>
			</div>
		</div>
		<div class="col-sm-2">
			<%= link_to_remove_association "Remove", f, class: "btn btn-danger btn-xs pull-right" %>
		</div>
	</div>
</div>

